@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('./fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-Semi-Bold';
    src: url('./fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('./fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins-Extra-Bold';
    src: url('./fonts/Poppins-ExtraBold.ttf');
}

:root {
    --blue: #2846C3;
}

body { 
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
    padding: 0;
    background-color: white;
}

